Repository c3rb1n/clock: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --color, npx stylelint

.lintstagedrc:

{
    "*.{js,html,md}": "npx eslint --color",
    "*.css": "npx stylelint"
}

added day/night theme basic realization
  script/main.js
  styles/common/themes/day.css
  styles/common/themes/night.css
  styles/css/main.css
Due: npx eslint --color, npx stylelint

added background day-night-gradient
  script/main.js
  styles/common/themes/day.css
  styles/common/themes/night.css
Due: npx eslint --color, npx stylelint

added common day/night theme fix
  script/main.js
Due: npx eslint --color

changed name in package.json file
  package.json
Due: none

added base class-refactoring for date component
  index.html
  src/components/Date/date.js
  src/main.js
Due: npx eslint --color

added base class-refactoring for time component
  src/components/Time/time.js
  src/main.js
Due: npx eslint --color

added base class-refactoring for theme component
  src/components/ClockDate/clock-date.js
  src/components/ClockTheme/clock-theme.js
  src/components/ClockTime/clock-time.js
  src/main.js
Due: npx eslint --color

added base class-refactoring for background component
  src/components/ClockBackground/clock-background.js
  src/main.js
Due: npx eslint --color
